*{
	margin: 0;
	padding: 0;
}

/*
Estilo para o conteúdo do nosso site
*/

/*manipulando todo o conteúdo do site*/
.artigo {
	width: 1280px;
	margin: 40px auto;
	background-color: rgb(220, 117, 255);
	text-align: center;
}
/*
width: A propriedade width define a largura de um elemento.

margin: As propriedades margin são usadas para criar espaço
ao redor dos elementos, fora de quaisquer bordas definidas.

background-color: Defina a cor de fundo de uma página.

text-align: A propriedade text-align especifica o 
alinhamento horizontal do texto em um elemento.
*/


/*manipulando apenas o h1(título do site)*/
.artigo h1{
	color: rgb(78, 0, 105);
	font-size: 23px;
	font-family: tahoma;
	font-style: normal;
	font-weight: normal;
}
/*
color: defini a cor do texto.

font-size: A propriedade font-size define o tamanho do texto.

font-family: usamos a propriedade font-family para
especificar a fonte de um texto.

font-style: A propriedade font-style é usada
principalmente para especificar texto em itálico 

font-weight: A propriedade font-weight especifica
o peso de uma fonte
*/


/*manipulando apenas o p(parágrafo do site)*/
.artigo p{
	color: #5c0050;
	font-size: 20px;
	font-family: tahoma;
	font-style: normal;
	font-weight: bold;
	line-height: 40px;
	margin-top: 12px;
}
/* 
line-height: A propriedade line-height especifica a altura de uma linha.

margin-top: A propriedade margin-top define a margem superior de um elemento.
*/